*{
    margin: 0px;
    padding: opx;
    box-sizing: border-box;
}
.dashboard{
    margin: auto;
    margin-top: 30px;
    width: 500px;
    padding: 30px;
    box-shadow:rgba(0,0,0.24) 0px 3px 8px;
    border-radius: 5px;
}
.dashboard-inner{
    margin-top: 20px;
    display: flex;
}
.dashboard .revenue{
    box-shadow: rgba(0,0,0.24) 0px 3px 8px;
    padding: 20px;
    border-radius: 5px;
    margin-left: 10px;
}
.dashboard .revenue i.money-icon{
    font-size: 30px;
    background-color:#cbeae5;
    color: #65A78E;
    padding: 10px;
    border-radius: 50px;    
}
.dashboard .revenue i.calculator-icon{
    font-size: 30px;
    background-color:#94c8dc;
    color:#49B7DE ;
    padding: 10px;
    border-radius: 50px;   
}
.dashboard .revenue i.commenting-icon{
    font-size: 30px;
    background-color:#E1DFF6;
    color:#5646BE; 
    padding: 10px;
    border-radius: 50px;    
}
h1.heading{
    margin-top: 20px;
    margin-left: -10px;
}
.dashboard .revenue  p#total-revenue{
    color:#6f6f6f;
    margin-bottom: 30px;
}
.dashboard.revenue i.up-arrow,span{
    color:#1a858d;
}
.dashboard.revenue.btn-group{
    margin-top: 10px;
    border: 1px solid #6f6f6f;
}
.dashboard.revenue a{
    border: 1px solid gray;
    text-decoration: none;
    color: #6f6f6f;
    padding: 5px;
}
.dashboard.revenue i.long-arrow{
    color: black;
}

